.inputContainer {
  display: block;
  background-color: var(--white);
  border-radius: 4px;
  border: 1px solid var(--gray-200);

  padding: 0.5rem 1.25rem;

  transition: 0.2s ease;
  &:focus-within {
    border-color: var(--green);
  }

  input {
    width: 100%;
    background-color: transparent;
    border: none;
    color: var(--gray-400);

    &::placeholder {
      color: var(--gray-200);
    }
    &:focus {
      outline: none;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      border: none;
      box-shadow: 0 0 0 30px var(--white) inset;
    }
  }

  & + span {
    margin-top: 1.25rem;
  }
}
