.authPageContainer {
  height: calc(100vh - 5rem);
  min-height: 720px;
  width: 90%;
  max-width: 1370px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.artTop {
  width: 40vw;
  max-width: 700px;
  position: absolute;
  top: 0;
  right: 0;

  z-index: -1;
}

.artMain {
  width: 60vw;
  max-width: 1150px;
  position: absolute;
  bottom: 10%;
  right: 10%;

  z-index: -1;
}

.artBottom {
  width: 40vw;
  max-width: 700px;
  position: absolute;
  bottom: -30%;
  left: 0;

  z-index: -1;
}

.formContainer {
  width: 80%;
  height: 600px;

  margin-top: -4%;

  background-color: var(--white);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);

  display: flex;

  position: relative;
}

.infoSection {
  width: 50%;
  height: 100%;

  background-image: url('/images/backgroundForm.png'),
    radial-gradient(
      58.36% 58.36% at 50.1% 41.64%,
      rgba(42, 211, 158, 0.74) 0%,
      #2ad39e 100%
    );
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--gray-50);

  h1 {
    font-size: 2.25rem;
    text-align: center;
    width: 350px;

    margin-bottom: 1rem;
  }

  p {
    text-align: center;
    width: 320px;
    // font-weight: 500;
  }
}

.formSection {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
