.whatIsSession {
  width: 100%;
  height: 720px;

  display: flex;
  justify-content: space-between;

  padding-top: 5%;

  @media (min-width: 1440px) {
    padding-top: 10%;
  }
}

.whatIsContent {
  margin-top: 5%;
  position: relative;

  h1 {
    font-size: 3rem;
    color: var(--black);

    span {
      color: var(--green);
    }
  }

  p {
    width: 540px;

    margin: 1rem 0 1.5rem;
  }

  button {
    padding: 0.5rem 1.25rem;

    border: none;
    border-radius: 30px;

    background-color: var(--green);
    color: var(--gray-50);
    font-size: 1.15rem;

    transition: 0.2s ease;
    &:hover {
      filter: brightness(0.9);
    }

    & + button {
      padding: 0;
      margin-left: 2rem;

      background: none;

      color: var(--green);

      &:hover {
        text-decoration: underline;
        filter: none;
      }
    }
  }

  img {
    max-width: 470px;
    position: absolute;
    left: -8%;
    top: -8%;
    z-index: -1;
  }
}

.artTop {
  width: 80vw;
  max-width: 1400px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.artMain {
  max-width: 517px;
  max-height: 407px;
}
