.profilePageContainer {
  min-height: 100vh;
  width: 90%;
  max-width: 1370px;
  margin: 0 auto;
  padding-top: 1.5rem;

  display: flex;
  align-items: flex-start;
}

.artTop {
  width: 40vw;
  max-width: 1300px;
  position: absolute;
  top: -2px;
  right: 0;
  z-index: -1;
}

.artMain {
  width: 50vw;
  max-width: 950px;
  position: absolute;
  top: 2%;
  right: 10%;
  z-index: -1;
}

.artBottom {
  width: 40vw;
  max-width: 600px;
  position: absolute;
  left: -100px;
  bottom: -140px;
  z-index: -1;
}

.profileContainer {
  width: 350px;
  height: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--white);
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.08);
  border-radius: 4px;

  padding: 2rem 1.25rem;
  position: relative;

  div:first-child {
    width: 180px;
    min-height: 180px;

    border-radius: 50%;

    background-size: cover;
    background-position: center;

    margin-bottom: 1rem;
  }

  h2 {
    font-weight: 500;
    color: var(--gray-500);
  }

  p {
    color: var(--gray-200);
  }
}

.boxInfoProfile {
  display: flex;
  flex-direction: column;

  margin-top: 2rem;

  span {
    display: flex;
    align-items: center;
    font-weight: 500;

    & + span {
      margin-top: 1.5rem;
    }

    svg {
      width: 20px;
      height: 20px;

      margin-right: 0.8rem;
    }
  }
}

.publicationsContainer {
  flex: 1;
  margin: 0 2rem;
}

.navigationPublicationsBar {
  height: 64px;

  display: flex;

  padding: 0 1.25rem;

  background: var(--white);
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.08);
  border-radius: 4px;

  color: var(--gray-200);

  span {
    height: 100%;

    display: flex;
    align-items: center;

    font-weight: 500;

    padding: 0 1.25rem;

    transition: 0.2s ease;
    &:hover {
      color: var(--gray-400);

      cursor: pointer;
    }
  }
}

.activeNavigation {
  color: var(--gray-400);

  border-bottom: 2px solid var(--green);
}

.suggestedContainer {
  width: 240px;

  padding: 1.25rem;

  background: var(--white);
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.08);
  border-radius: 4px;

  h2 {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  > div {
    display: flex;
    align-items: center;

    padding: 0.5rem 0;

    font-size: 1.25rem;

    span:hover {
      cursor: pointer;
    }

    div {
      width: 40px;
      height: 40px;

      border-radius: 50%;

      background-size: cover;
      background-position: center;

      margin-right: 1.25rem;
    }
  }
}

.addNewPet {
  height: 124px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 1.25rem;

  background: var(--white);
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.08);
  border-radius: 4px;

  color: var(--gray-200);

  &:hover {
    cursor: pointer;
  }
}
