* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #1e1e1e;
  --white: #fff;

  --gray-50: #f4f5f7;
  --gray-100: #ebebeb;
  --gray-200: #d4d4d4;
  --gray-400: #949393;
  --gray-500: #666464;

  --green: #29d29d;
}

body,
input,
textarea,
select,
button {
  font: 400 1rem 'Heebo', sans-serif;
}

body {
  background-color: var(--gray-50);
  color: var(--gray-400);
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}
