.filtersButtonContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--white);
  border-radius: 30px;
  border: 2px solid var(--white);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);

  margin-left: 1.5rem;

  > span {
    max-height: 20px;
    display: flex;
    align-items: center;

    span {
      width: 30px;
      height: 30px;

      display: flex;
      align-items: center;
      justify-content: center;

      background-color: var(--green);
      border-radius: 50%;

      margin-right: 1rem;

      svg {
        color: var(--gray-50);

        width: 16px;
        height: 16px;
      }
    }
  }

  transition: 0.2s ease;
  &:hover {
    flex: 0.8;
    cursor: pointer;
  }
}

.filtersVisible {
  flex: 2.5;

  &:hover {
    flex: 2.5;
  }
}
