.cardContainer {
  width: 100%;
  height: 256px;

  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.09);
  background-color: var(--white);
  border-radius: 4px;

  position: relative;
}

.cardImage {
  width: 100%;
  height: 164px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 4px 4px 0 0;
}

.cardContent {
  padding: 0.8rem;

  h2 {
    color: var(--gray-500);
  }

  span {
    display: flex;
    align-items: center;
    margin-top: 0.2rem;

    span {
      margin-left: auto;
      text-transform: capitalize;

      font-weight: 600;
      font-size: 1.25rem;
    }
  }
}

.typeCard {
  width: 36px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);

  position: absolute;
  top: 144px;
  right: 24px;
}
