.howItWorksContainer {
  width: 100%;
  height: 720px;

  display: flex;
  justify-content: flex-end;

  > img {
    width: 45vw;
    max-width: 750px;
    position: absolute;
    left: 0;
    z-index: -1;
  }
}

.howItWorksContent {
  padding-top: 15%;
  position: relative;

  > img {
    position: absolute;
    top: 5%;
    right: 0;
    z-index: -1;
  }

  h1 {
    font-size: 3rem;
    color: var(--black);

    span {
      color: var(--green);
    }
  }

  p {
    width: 540px;

    margin: 1rem 0 1.5rem;
  }

  button {
    padding: 0.5rem 1.25rem;

    border: none;
    border-radius: 30px;

    background-color: var(--green);
    color: var(--gray-50);
    font-size: 1.15rem;

    transition: 0.2s ease;
    &:hover {
      filter: brightness(0.9);
    }
  }
}
