.mainContainer {
  width: 90%;
  max-width: 1370px;
  margin: 0 auto;
}

.ongsEventContainer {
  width: 100%;
  height: 720px;

  display: flex;
  flex-direction: column;
  align-items: center;

  > img:first-child {
    position: absolute;
    z-index: -1;
  }

  h1 {
    font-size: 3rem;
    color: var(--black);

    span {
      color: var(--green);
    }
  }

  > p {
    text-align: center;
    width: 540px;

    margin: 1rem 0 1.5rem;
  }

  ul {
    margin-top: 4rem;

    width: 100%;
    list-style: none;

    display: grid;
    place-items: center;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    gap: 60px;
  }
}
