.selectLocationContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--white);
  border-radius: 30px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);

  transition: border-radius 0.5s ease, flex 0.2s ease;

  > span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      width: 100px;
      background-color: transparent;
      border: none;
      color: var(--gray-400);

      &::placeholder {
        color: var(--gray-400);
      }

      transition: 0.2s ease;
      &:focus {
        outline: none;
        width: 80%;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus {
        border: none;
        box-shadow: 0 0 0 30px var(--white) inset;
      }
    }

    span {
      width: 30px;
      height: 30px;

      display: flex;
      align-items: center;
      justify-content: center;

      background-color: var(--green);
      border-radius: 50%;

      margin-right: 1rem;

      svg {
        color: var(--gray-50);

        width: 16px;
        height: 16px;
      }
    }
  }

  position: relative;

  ul {
    width: 100%;
    max-height: 0px;
    transition: max-height 0.5s ease;

    overflow-y: auto;

    position: absolute;
    top: 120%;

    list-style: none;
    text-align: center;

    background-color: var(--white);
    border-radius: 4px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);

    li {
      opacity: 0;
      padding: 0.4rem 0.5rem;

      transition: 0.2s ease, opacity 0.2s ease;
      &:hover {
        background-color: #5be6bc;
        color: var(--gray-50);
        cursor: pointer;
      }
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px var(--white);
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: inset 0 0 40px var(--gray-200);
    }
  }
}

.dropdownListVisible {
  flex: 2;
  border-radius: 5px;

  ul {
    max-height: 400px;

    li {
      transition: opacity 0.2s ease 0.5s;
      opacity: 1;
    }
  }
}
