.searchBarContainer {
  flex: 3;
  display: flex;

  background-color: var(--white);
  border-radius: 30px;
  border: 2px solid var(--white);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);

  padding: 0.5rem 1.25rem;

  transition: 0.2s ease;
  &:focus-within {
    border-color: var(--green);
  }

  input {
    width: calc(100% - 46px);
    background-color: transparent;
    border: none;
    color: var(--gray-400);

    &::placeholder {
      color: var(--gray-200);
    }
    &:focus {
      outline: none;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      border: none;
      box-shadow: 0 0 0 30px var(--white) inset;
    }
  }

  button {
    width: 30px;
    height: 30px;

    margin-right: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--green);
    border: none;
    border-radius: 50%;

    color: var(--gray-50);

    svg {
      width: 16px;
      height: 16px;
    }
  }
}
