.formContainerSignIn {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    color: var(--black);
    font-size: 1.75rem;

    margin-bottom: 1.5rem;
  }

  span {
    width: 100%;
  }

  button {
    width: 100%;

    margin: 1.75rem 0;
    padding: 0.4rem 1.25rem;

    background-color: var(--green);
    border: none;
    border-radius: 30px;

    color: var(--gray-50);
    font-weight: 500;
  }

  > span:last-child {
    text-align: center;

    span {
      color: var(--green);

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
