.headerContainer {
  height: 5rem;
  width: 90%;
  max-width: 1370px;
  margin: 0 auto;
}

.headerContent {
  height: 5rem;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  nav {
    flex: 1;

    display: flex;
    justify-content: flex-end;

    a {
      font-size: 1.25rem;
      font-weight: 500;
      color: var(--gray-50);

      margin-right: 2.5rem;

      transition: 0.2s ease;
      &:hover {
        color: #9debd3;
      }
    }
  }

  button {
    padding: 0.2rem 1.25rem;

    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 30px;

    font-size: 1.25rem;
    font-weight: 500;
    color: var(--gray-50);

    transition: all 0.2s ease;
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}
