.ItemListContainer {
  max-width: 200px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    color: var(--gray-50);
  }

  > div {
    width: 111px;
    height: 111px;

    border: 3px solid var(--gray-50);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 1rem 0;

    div {
      width: 87px;
      height: 87px;

      border-radius: 50%;

      background: url('/images/marcos.jpg') center;
      background-size: cover;
    }
  }

  > span {
    color: #9debd3;
  }
}
