.formContainer {
  width: 100%;
  height: calc(100% - 52px);

  padding: 1.5rem 2rem;

  display: flex;
}

.inputPhoto {
  width: 170px;
  height: 184px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--gray-400);

  background-color: #ecedef;
  border-radius: 4px;

  margin-right: 1.75rem;

  img {
    width: 53px;
    height: 53px;

    margin-bottom: 1rem;
  }
}

.anotherInputsContainer {
  flex: 1;
  height: 100%;

  display: flex;
  flex-direction: column;

  span {
    background-color: var(--white);

    & + span {
      margin: 0 0 0 1rem;
    }
  }

  > div {
    display: flex;
    align-items: center;

    div {
      height: 42px;
      margin-left: 1rem;

      box-shadow: none;
      border: 1.5px solid var(--gray-200);
    }

    > span {
      width: 50%;
    }
  }
}

.partitionContainer {
  margin-top: 0.5rem;
}

.buttonsContainer {
  margin: auto 0 0 auto;

  button {
    background: none;
    border: none;

    font-weight: 500;
    color: var(--gray-400);

    & + button {
      padding: 0.4rem 1.5rem;
      margin-left: 1rem;

      background-color: var(--green);
      border-radius: 30px;

      color: var(--gray-50);
    }

    transition: 0.2s ease;
    &:hover {
      filter: brightness(0.8);
    }
  }
}
