.searchPageContainer {
  height: calc(100vh - 5rem);
  min-height: 720px;
  width: 90%;
  max-width: 1370px;
  margin: 0 auto;
}

.artTop {
  width: 50vw;
  max-width: 1300px;
  position: absolute;
  top: -2px;
  right: 0;
  z-index: -1;
}

.artMain {
  width: 50vw;
  max-width: 1300px;
  position: absolute;
  top: -2px;
  right: 0;
  z-index: -1;
}

.artBottom {
  width: 60vw;
  max-width: 900px;
  position: absolute;
  top: 0;
  left: 2%;
  z-index: -1;
}

.searchPageContent {
  width: 100%;
  padding-top: 2rem;

  display: flex;
  flex-direction: column;

  > div:first-child {
    width: 100%;

    display: flex;
  }
}

.filtersList {
  width: 100%;
  height: 50px;

  display: flex;
  align-items: center;

  transition: height 0.2s ease;

  div + div {
    margin-left: 1.5rem;
  }

  button {
    margin-left: auto;

    border-radius: 30px;
    border: none;
    background-color: #cef9ec;

    color: var(--green);

    padding: 0.2rem 0.8rem;

    display: flex;
    align-items: center;

    svg {
      margin-left: 0.5rem;
    }
  }

  > span {
    color: var(--green);
    font-weight: 500;
  }
}

.filtersListVisible {
  padding: 1.25rem 0;
  height: 100px;
}

.cardsList {
  width: 100%;
  list-style: none;

  display: grid;
  place-items: center;
  place-content: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
