.footerContainer {
  background-color: var(--green);

  display: flex;
  justify-content: center;

  position: relative;

  padding: 2rem 0;
  margin-top: 4rem;

  > img {
    position: absolute;
    top: -50px;

    width: 100px;
  }
}

.footerContent {
  width: 90%;
  max-width: 1370px;
  margin: 0 auto;

  h1 {
    color: var(--gray-50);
  }
}
