.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;
}

.overlayClose {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  right: 0;

  background-color: transparent;

  z-index: 2;
}

.formAddPet {
  width: 570px;
  height: 340px;

  background-color: var(--gray-50);
  border-radius: 4px;

  z-index: 3;

  > span {
    height: 52px;

    display: flex;
    align-items: center;

    background-color: var(--green);
    border-radius: 4px 4px 0 0;

    color: var(--gray-50);
    font-weight: 500;
    font-size: 1.25rem;

    padding: 0 2rem;
  }
}
