.formContainerSignUp {
  width: 332px;

  display: flex;
  align-items: center;
  flex-direction: column;

  position: relative;

  h1 {
    color: var(--black);
    font-size: 1.75rem;

    margin-bottom: 1.5rem;
  }

  section {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    > span {
      width: 100%;
    }

    div {
      width: 100%;

      display: flex;
      align-items: center;

      margin-top: 1.25rem;

      span {
        width: 100%;
        margin-top: 0;

        & + span {
          width: 100px;
          margin-left: 1rem;
        }
      }
    }
  }
}

.boxStreet {
  width: 100%;

  span + span {
    width: 100px;
  }
}

.footerForm {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 1.25rem;

  span span {
    color: var(--green);

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
.button {
  z-index: 5;

  display: flex;
  align-items: center;

  padding: 0.4rem 1.25rem;

  background-color: var(--green);
  border: none;
  border-radius: 30px;

  color: var(--gray-50);
  font-weight: 500;

  svg {
    width: 20px;
    height: 20px;
  }

  transition: filter 0.2s ease;
  &:hover {
    filter: brightness(0.8);
  }
}

.buttonNext {
  position: absolute;
  bottom: 21%;
  right: 9.9%;
}

.buttonReturn {
  position: absolute;
  top: 17%;
  right: 42%;

  background-color: transparent;
  color: var(--black);
}

.invisibleForm {
  position: absolute;
  transform: translateX(-50%);

  z-index: -1;
}

.formVisible {
  transform: translateX(0%);

  z-index: 5;
}
