.cardEventContainer {
  background-color: var(--white);

  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.08);

  width: 250px;

  border-radius: 4px;

  img {
    width: 100%;

    border-radius: 4px 4px 0 0;
  }

  div {
    padding: 0.2rem 1.25rem;
    display: flex;
    flex-direction: column;

    h3 {
      color: var(--black);
    }

    button {
      background: none;
      border: none;

      margin: 0.5rem 0 0 auto;

      svg {
        width: 20px;
        height: 20px;
        color: var(--black);
      }
    }
  }
}
